$destoplarg: 957px;
$destoplarg2: 995px;
$destopmid: 850px;

* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #e5e5e5;
  scroll-behavior: smooth;
}
.my-header-continer {
  background: #393939;
  color: white;
  max-width: 100% !important;
  margin: 0;
  padding: 0rem 1.25rem;
  height: 100%;
  & > .my-header-logo {
    width: 20%;
    @media (max-width: 849px) {
      width: 27%;
    }
    @media (max-width: 591px) {
      width: 36%;
    }
    @media (max-width: 320px) {
      width: 48%;
    }
  }
  & > .my-nav,
  .my-dropdown-wapper {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.my-nav {
  flex-basis: 66%;
  justify-content: space-between;
  @media (max-width: 1247px) {
    flex-basis: 73%;
  }
  @media (max-width: 1147px) {
    display: none;
  }
}
.lstbtn-nav {
  padding: 0.5rem;
  border-radius: 6px;
  background-color: #99144d;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

.my-dropdown-menu {
  z-index: 30;

  &-ul {
    background-color: #393939;
    padding: 1rem;
    & > li > a {
      padding: 0.8rem 0.3rem;
      border: 1px solid rgb(255, 255, 255);
    }
  }
}

.my-hero {
  height: 71.3vh;
  position: relative;
  @media (max-width: 670px) {
    height: 53.3vh;
  }
  @media (max-width: 425px) {
    height: 42.3vh;
  }
  & > .my-hero-continer {
    height: 100%;
  }
}

.my-form-wapper {
  background-color: #163f7b;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 20;
  @media (max-width: 1006px) {
    display: none;
  }
  & > div > input,
  textarea {
    background: none;
    color: #9f9a9a;
  }
}
.my-hero-form-title {
  font-size: 2rem;
}
.my-course-dwn-bar {
  height: 0.2rem;
  width: 10rem;
}

.my-checkbox-wapper {
  display: flex;
  align-items: center;
  & > input {
    flex-basis: 10%;
    margin: 0 0.5rem;
    transform: scale(1.5);
  }
  & > p {
    font-size: 0.7rem;
  }
}
.my-btn {
  margin: 0;
  background: white;
  color: #393939;
  align-self: flex-start;
  font-weight: 600;
}
.my-course-btn {
  font-size: 1.3rem;
  transition: all 0.4s ease-in;
  @media (max-width: 775px) {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
  }
  @media (max-width: 425px) {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
  &:hover {
    background-color: #163f7b;
  }
}
.my-clicked-btn {
  transition: all 0.4s ease-in;
  background-color: #163f7b;
  color: white;
}
.my-title {
  font-size: 2.5rem;
  color: #163f7b;
  @media (max-width: 425px) {
    font-size: 1.8rem;
  }
  & ~ p {
    font-size: 1.4rem;
  }
}
#myhome {
  height: 12vh;
}
.mbl-nav {
  font-size: 3rem;
  cursor: pointer;
  display: none;
  @media (max-width: 1147px) {
    display: block;
    font-size: 1.5rem;
  }

  & > i {
    border: 2px solid white;
    padding: 0.3rem;
  }
}
.my-ga {
  display: flex;
  align-items: center;
  background: black;
  @media (max-width: $destoplarg) {
    flex-wrap: wrap;
  }
  & > .my-ga-continer {
    background: #f8931d;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem 0;
    & > .my-ga-content-wapper {
      & > .content-img-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        justify-content: center;
        align-items: center;
        grid-gap: 2rem;
        & > .grid-chiled {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          & > img {
            width: 35%;
          }
          & > h2 {
            padding: 1rem;
            font-size: 1.2rem;
            font-weight: 500;
          }
        }
      }
    }
  }
  .my-ga-video-wapper {
    width: 100%;
    & > iframe {
      width: 100%;
    }
  }
}

.my-about-section {
  padding: 2rem 0;
  // margin: 3rem 0;
  background: #aaefe4;
}

.my-about-content {
  font-size: 1.3rem;
  font-weight: 400;
}

.my-gallary {
  // background-color: #d44783;
  background-color: #99144d;
  padding: 3rem 0;
  // margin-bottom: 3rem;
}

.my-gallary-img-wapper {
  width: 60%;
  height: 78vh;
  margin: 0 auto;
  background: black;
  box-shadow: 1px 2px 20px -3px #313131d1;
  @media (max-width: 1014px) {
    width: 80%;
    height: 74vh;
  }
  @media (max-width: 791px) {
    height: 63vh;
  }
  @media (max-width: 691px) {
    height: 58vh;
    width: 88%;
  }
  @media (max-width: 482px) {
    width: 86%;
    height: 42vh;
  }
  @media (max-width: 375px) {
    height: 36vh;
  }
  @media (max-width: 320px) {
    height: 33vh;
    width: 95%;
  }
}
.my-c-block {
  height: 15.2rem;
  width: 24.5rem;
}
// .also-contact-section {
// margin: 3rem 0 0;
// }

.my-contactus-content-wapper {
  @media (max-width: 689px) {
    align-items: flex-start;
    text-align: start;
  }
  & > div {
    margin: 2rem 0 0;
    & > h2 {
      font-size: 2.5rem;
      font-weight: 600;
      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }
    & > p {
      font-size: 1.5rem;
      & > i {
        margin: 0 0.8rem;
      }
    }
    & > h3 {
      font-size: 2rem;
    }
    & > div {
      font-size: 2.2rem;
      & > a {
        padding: 0 2rem;
        & > .fa-facebook {
          color: #1877f2;
        }
        & > .fa-twitter {
          color: #00acee;
        }
        & > .fa-instagram-square {
          color: #cd486b;
        }
      }
    }
  }
}

.my-map-wapper {
  height: 70vh;
  & > iframe {
    height: 100%;
    width: 100%;
  }
}

.card {
  position: relative;

  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/*Light blue cover above the slide show*/
.card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(140, 22, 115, 0.2);
}

.card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transform: translateX(100%);
  background-image: url("../assets/students3.jpg");

  animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
}

.card_part.card_part-two {
  z-index: 9;
  background-image: url("../assets/IQ1.jpg");
  animation-delay: 7s;
}

.card_part.card_part-three {
  z-index: 8;
  background-image: url("../assets/students.jpg");
  animation-delay: 14s;
}

.card_part.card_part-four {
  z-index: 7;
  background-image: url("../assets/GIQ\ Goal.jpg");
  animation-delay: 21s;
}

.card_part.card_part-five {
  z-index: 6;
  background-image: url("../assets/kid1.jpg");
  animation-delay: 28s;
}
.card_part.card_part-sixe {
  z-index: 5;
  background-image: url("../assets/KID3.jpg");
  animation-delay: 35s;
}
.card_part.card_part-seven {
  z-index: 4;
  background-image: url("../assets/computer-training-500x500.png");
  animation-delay: 42s;
}

@keyframes opaqTransition {
  3% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  28% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
  height: 100%;
  @media (max-width: 768px) {
    width: 27%;
  }
}

.slide img {
  width: 100%;
  height: 100%;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 0;
  height: 100%;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
  @media (max-width: 768px) {
    margin-left: -27%;
  }
}

#radio3:checked ~ .first {
  margin-left: -40%;
  @media (max-width: 768px) {
    margin-left: -54%;
  }
}

#radio4:checked ~ .first {
  margin-left: -60%;
  @media (max-width: 768px) {
    margin-left: -81%;
  }
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  padding: 2rem 0;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40d3dc;
}

.flip-card {
  background-color: transparent;

  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  & > img {
    width: 42%;
    padding: 1.3rem;
  }
}

.flip-card-back {
  // background-color: #3e627a;
  background-color: #163f7b;
  color: white;
  transform: rotateY(180deg);
  padding: 0.5rem;
  & > h1 {
    font-size: 2rem;
  }
  & > p {
    font-size: 1.1rem;
  }
}

.my-course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-auto-rows: 15rem;
  font-size: 1.9rem;
  grid-gap: 2rem;
  @media (max-width: 767px) {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    grid-auto-rows: 17rem;
  }
  & > .grid-chiled {
    width: 100%;
    height: 100%;
    & > .flip-card {
      width: 100%;
      height: 100%;
    }
  }
}

.mbl-navlink-wapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 300;
  background-color: white;
  display: none;
  & > div {
    height: 2%;
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    font-size: 3rem;
    @media (max-width: 425px) {
      font-size: 2.2rem;
    }
    & > i {
      margin: 0 2rem;
    }
  }
  & > ul {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 3rem;
    @media (max-width: 425px) {
      font-size: 1.3rem;
    }
    & > hr {
      border: 1px solid #393939ab;
      width: 100%;
    }

    & > li > i {
      margin: 0 2rem;
    }
    & > .my-mbl-subnav-wapper {
      cursor: pointer;
    }
    & > .my-mbl-sub-nav {
      height: 0%;
      overflow: hidden;
      background-color: #f3f3f3;
      box-shadow: inset 0px 0px 10px -2px #0000008c;
      transition: all 1s ease-in;
      & > li {
        padding: 0.5rem;
      }
    }
  }
}

.show-mbl-subanv {
  height: 22% !important;
}

.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: -5rem;
  font-size: 2rem;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.8rem;
  z-index: 60;
  cursor: pointer;
  box-shadow: 1px 1px 10px -5px black;
  transition: all 1s ease-in;
  @media (max-width: 770px) {
    font-size: 1.5rem;
  }
}

.slide-in {
  right: 2rem;
  transition: all 0.5s ease-in;
  @media (max-width: 768px) {
    right: 1.5rem;
    font-size: 1.5rem;
    padding: 0.2rem 0.5rem;
  }
  &:hover {
    background-color: white;
    color: black;
    box-shadow: 1px 1px 10px -5px black;
  }
}

.form2-wapper {
  background-color: #163f7b;
  color: white;
  height: 100%;
}
.mbl-form-wapper {
  overflow: hidden;
}
.mbl-con-btn {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  background-color: #163f7b;
  color: white;
  cursor: pointer;
  transition: all 0.7s ease-in;
  &:hover {
    background-color: #123569;
  }
}

.mbl-contact-form-content {
  height: 0;
  transition: all 1s ease-in;
  padding: 0 2rem;
  margin: 0 auto;
}
.mbl-con-form-content-wapper {
  height: 27rem !important;
}

.mbl-f-wapper {
  display: none;
  @media (max-width: 1006px) {
    display: block;
  }
}

.footer {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  background-color: #393939;
  color: white;
}
.whatsappicon {
  position: fixed;
  right: 1.5rem;
  bottom: 6rem;
  z-index: 30;
}
