.my-header-continer {
  background: #393939;
  color: white;
  max-width: 100% !important;
  margin: 0;
  padding: 0rem 1.25rem;
  height: 100%;
  & > .my-header-logo {
    width: 20%;
    @media (max-width: 849px) {
      width: 27%;
    }
    @media (max-width: 591px) {
      width: 36%;
    }
    @media (max-width: 320px) {
      width: 48%;
    }
  }
  & > .my-nav,
  .my-dropdown-wapper {
    font-size: 1.4rem;
  }
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.my-dropdown-menu {
  right: 5%;
  z-index: 30;

  &-ul {
    background-color: #393939;
    padding: 1.5rem;
    & > li > a {
      padding: 0.8rem 0.3rem;
      border: 1px solid rgb(255, 255, 255);
      margin: 1rem 0;
    }
  }
}

.my-nav {
  @media (max-width: 852px) {
    display: none;
  }
}

#myhome {
  height: 12vh;
}
.mbl-nav {
  font-size: 3rem;
  cursor: pointer;
  display: none;
  @media (max-width: 852px) {
    display: block;
  }
  @media (max-width: 425px) {
    font-size: 2rem;
  }
  & > i {
    border: 2px solid white;
    padding: 0.3rem;
  }
}
