.my-header-continer {
  background: #393939;
  color: white;
  max-width: 100% !important;
  margin: 0;
  padding: 0rem 1.25rem;
  height: 100%;
  & > .my-header-logo {
    width: 20%;
    @media (max-width: 849px) {
      width: 27%;
    }
    @media (max-width: 591px) {
      width: 36%;
    }
    @media (max-width: 320px) {
      width: 48%;
    }
  }
  & > .my-nav,
  .my-dropdown-wapper {
    font-size: 1rem;
    text-transform: uppercase;
  }
}
.my-nav {
  flex-basis: 66%;
  justify-content: space-between;
  @media (max-width: 1247px) {
    flex-basis: 73%;
  }
  @media (max-width: 1147px) {
    display: none;
  }
}
.lstbtn-nav {
  padding: 0.5rem;
  border-radius: 6px;
  background-color: #99144d;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

.my-dropdown-menu {
  z-index: 30;

  &-ul {
    background-color: #393939;
    padding: 1rem;
    & > li > a {
      padding: 0.8rem 0.3rem;
      border: 1px solid rgb(255, 255, 255);
    }
  }
}

#myhome {
  height: 12vh;
}
.mbl-nav {
  font-size: 3rem;
  cursor: pointer;
  display: none;
  @media (max-width: 1147px) {
    display: block;
    font-size: 1.5rem;
  }
  & > i {
    border: 2px solid white;
    padding: 0.3rem;
  }
}

.mbl-navlink-wapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 300;
  background-color: white;
  display: none;
  & > div {
    height: 2%;
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    font-size: 3rem;
    @media (max-width: 425px) {
      font-size: 2.2rem;
    }
    & > i {
      margin: 0 2rem;
    }
  }
  & > ul {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 3rem;
    @media (max-width: 425px) {
      font-size: 1.3rem;
    }
    & > hr {
      border: 1px solid #393939ab;
      width: 100%;
    }
    & > li > i {
      margin: 0 2rem;
    }
    & > .my-mbl-subnav-wapper {
      cursor: pointer;
    }
    & > .my-mbl-sub-nav {
      height: 0%;
      overflow: hidden;
      background-color: #f3f3f3;
      box-shadow: inset 0px 0px 10px -2px #0000008c;
      transition: all 1s ease-in;
      & > li {
        padding: 0.5rem;
      }
    }
  }
}

.show-mbl-subanv {
  height: 22% !important;
}
